<section id="home-page">
  <h1>Cinema</h1>
  <h1>Ironhack</h1>
  <form method="get" action="/" class="form">
    <button class="button"><a href="/movies">Check the Movies !</a></button>
  </form>
</section>